<!DOCTYPE html>
<html>
	<head>
		<title>Test Light Grid</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
		
		<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

		<script src="https://cdn.jsdelivr.net/npm/@jaames/iro" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous" type="text/javascript"></script>
		<!-- <script src="{{url_for('static', filename='js/socket.io.js')}}"></script> -->
		<script src="{{url_for('static', filename='js/mqtt_topic_as_id.js')}}"></script>
		<!-- <script type="text/javascript" charset="utf-8">
			var socket = io();
			socket.on('connect', function() {
				socket.emit("topic", {data: 'I\'m connected!'});
			});
		</script> -->
	

	<body>
		<div class="card bg-light mb-3" style="max-width: 38em; margin: auto; margin-top: 2em;">
			<div class="card-header h1">3x3 Light Grid</div>
			<div class="card-body" style="text-align: center;">
				<button id="button-0">0</button>
				<button id="button-1">1</button>
				<button id="button-2">2</button>
				<br>
				<button id="button-3">3</button>
				<button id="button-4">4</button>
				<button id="button-5">5</button>
				<br>
				<button id="button-6">6</button>
				<button id="button-7">7</button>
				<button id="button-8">8</button>
				<br>
			</div>
		</div>
		<div class="card bg-light mb-3" style="max-width: 38em; margin: auto; margin-top: 2em;">
			<div class="card-header"><b>Color Picker</b></div>
			<div class="card-body">
				<!-- <div id="messages">
				</div>	 -->
				<div class="wheel" id="colorWheel"></div>
			</div>
		</div>
	</body>
</html>
